*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration:none;
    list-style:none;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
p{
    margin-bottom: 0;
}
body{
    background-color:#f0f0ef;
    overflow-x: hidden;
}
:root{
    --maincolor:#212529;
    --catagroycolor:goldenrod;
}
/* the main class to the h2 */
.h2-text{
    font-size: 50px;
    color: var(--maincolor);
    margin: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-align: center;
}
/* catagory page */
.profileimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* item page */
.show_item_data .item-data.profileimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* /////////////////////////////////// */
/* the start of the nav bar */
.new-nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--maincolor);
    color: white;
    margin-bottom: 0;
    border-bottom: 1px solid white;
}
.new-nav img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.new-nav a{
    text-decoration: none;
    color: white;
}
.new-nav a:hover{
    color:#3498db;
}
.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}
.navbar-expand-lg .navbar-collapse .navbar{
    padding: 0;
    margin-bottom: 0;
}
.dropdown{
    margin-left: 100%;
}
.navbar{
    background-color: var(--maincolor);
}
.navbar .nav-link ,.navbar .navbar-brand , .navbar .navbar-toggler{
   color:white;
}
.navbar .nav-link:hover ,.navbar .navbar-brand:hover {
    color:rgb(0, 162, 255);
 }
 /* the end of the nav bar  */
 /* the start of the catagory */
 .items{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
 }
 .items .item{
     flex-basis: 30%;
     max-width: 400px;
     display: flex;
     flex-direction: column;
     gap: 20px;
     background-color: #fff;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
     overflow: hidden;
     margin-top: 20px;
     margin-bottom: 20px;
     position: relative;
}
.items .item .itemdata{
    padding: 10px;
}
.items .item .itemdata .itemname{
    cursor: pointer;
}
.items .item .itemdata .itemprice{
    position: absolute;
    top: 5px;
    background-color: goldenrod;
    padding: 5px;
}
.items .item  .itemimage{
    position: relative;
}
.items .item  .itemimage>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.items .item .itemimage .user-item{
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 25px;
    display: flex;
    background-color: rgba(0,0,0,.5);
    color:white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 1rem;
    clip-path: polygon(0 0,100% 0,100% 0,0 0);
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
}
.items .item .itemimage .user-item p{
    font-size: 30px;
    font-weight: bold;
}
.items .item .itemimage .user-item a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.items .item .itemimage .user-item a i{
    margin-right: 10px;
}
.items .item .itemimage .user-item  a:nth-child(1){
    font-size: 25px;
    font-weight: 700;
}
.items .item .itemimage:hover .user-item{
    clip-path: polygon(0 0 ,100% 0, 100% 100% ,0 100%);
}
.items .item .itemimage .user-item .more-detials{
    text-decoration: none;
    background-color: white;
    border: 1px solid var(--catagroycolor);
    color: var(--catagroycolor) ;
    padding: 10px 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.items .item .itemimage{
    height: 300px;
}
.items .item .itemimage .user-item .more-detials::before{
    content: '';
    width: 0;
    height: calc(100% + 2px);
    position: absolute;
    top: -1px;
    right: 0;
    z-index:-1 ;
    border-radius: 10px;
    background-color: var(--catagroycolor);
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
}
.items .item .itemimage .user-item .more-detials:hover::before{
    left: -1px;
    width: calc(100% + 2px);
}
.items .item .itemimage .user-item .more-detials:hover{
    color: white;
}
@media(max-width:991px){
    .items .item .itemimage .user-item{
        padding-top: 25px;
        gap: 10px;
    }
    .items .item .itemimage .user-item p{
        font-size: 20px;
        font-weight: bold;
    }
    .items .item .itemimage .user-item  a:nth-child(1){
        font-size: 18px;
        font-weight: 700;
    }
    .items .item{
        flex-basis: 45%;
    }
}
@media(max-width:768px){
    .items .item .itemimage .user-item{
        padding-top: 25px;
        gap: 10px;
    }
    .items .item .itemimage .user-item p{
        font-size: 20px;
        font-weight: bold;
    }
    .items .item .itemimage .user-item  a:nth-child(1){
        font-size: 18px;
        font-weight: 700;
    }
    .items .item{
        flex-basis: 100%;
    }
}
 /* the end of the catagory */
 /* the start of the login */
.formcontainer-login{
    position: absolute;
    max-width: 500px;
    margin: auto;
    top: 45%;
    transform: translate(-50%, -50%);
    left: 50%;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    z-index: 2;
}
.formcontainer-signup{
    position: absolute;
    max-width: 500px;
    margin: auto;
    top: 45%;
    transform: translate(-50%, -50%);
    left: 50%;
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    z-index: 2;
}
.formcontainer form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formcontainer .h2-text{
    color:#3498db;
}
.formcontainer label{
    margin: 10px;
    font-size: 20px;
    text-transform: capitalize;
}
.formcontainer .password+i{
    position: absolute;
    left: 90%
}
.formcontainer-signup .password+i{
    position: absolute;
    left: 93%
}
.ecommerce{
    color: #3498db;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 50px;
    font-family: 'Acme', sans-serif;
    animation-name: colors;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
.formcontainer a{
    text-decoration:none;
}
.container-page{
    padding: 0;
    height: calc(100vh - 81px );
    position: relative;
}
.vid-container{
    width: 100%;
    height: 100%;
}
.vid-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.controls{
    background-color: rgba(0,0,0,.8);
    position: absolute;
    z-index: 2;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
    padding: 15px;
    bottom: 10px;
    left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
}
.controls span{
    width: 5px;
    height: 5px;
    padding: 5px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}
.controls .active{
    background-color:#3498db ;
}
@keyframes colors{
    0%{
        color: #3e94ce;
        text-shadow: 2px 2px 2px rgba(0,0,0,.3);
    }
    25%{
        color: #448dbe;
        text-shadow: 2px 2px 2px rgba(0,0,0,.5);
    }
    50%{
        color: #4688b4;
        text-shadow: 2px 2px 2px rgba(0,0,0,.8);
    }
    100%{
        color: #437a9e;
        text-shadow: 2px 2px 2px rgb(0,0,0);
    }
}
.loginbutton{
    padding: 5px 20px;
    font-size: 20px;
    color: white;
    background-color: #3e94ce ;
    margin: 20px auto;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media(max-width:768px){
    .ecommerce{
        font-size: 1.5rem;
    }
    .formcontainer{
        max-width: 600px;
        min-width: 350px;
    }
}
/* the end of the login */
/* the start of the profile page */
/* the main class to the heading in profile page */
.profile-page .h3{
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    color: #3e94ce;
}
/* ////////////////////////////////// */
.profile-page{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: 'Nunito', sans-serif;
    background-color: white;
    padding: 20px 10px;
}
.profile-page .images{
    position:relative;
    margin: auto;
}
.profile-page .image1 img{
    height: 400px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.profile-page .image2{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background: white;
    border-radius: 50%;
}
.profile-page .image2 img{
    width: 200px;
    height: 200px;
    border: 1px solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.profile-page .name-descripation{
    margin-top: 100px;
    text-align: center;
}
.profile-page .about h3 i {
    cursor: pointer;
}
.profile-page .user-items .items{
    display: flex;
    justify-content: space-evenly;
}
.profile-page .user-items .items .item{
    background-color: #333;
    position: relative;
}
.profile-page .user-items .items .item .unapproved{
    position: absolute;
    background-color: #e74c3c;
    top: 50%;
    left: 50%;
    padding: 5px;
    transform: translate(-50%, -50%);
}
.profile-page .user-items a{
    margin: 10px 0;
}
.profile-page .user-comments{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.profile-page .user-comments .comment{
    display: flex;
    gap: 1rem;
}
.profile-page .user-comments .comment p{
    background-color: rgb(228, 222, 222);
    position: relative;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.profile-page .user-comments .comment a{
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}
.profile-page .user-comments .comment p::before{
    content:"";
    position:absolute;
    left: -20px;
    border: 10px solid #3e94ce;
    border-bottom-color: transparent ;
    border-top-color: transparent ;
    border-left-color: transparent ;
}
.profile-page .error404{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.profile-page .error404 h4{
    font-size: 30px;
    font-weight: bold;
    color: red;
}
.profile-page .error404 img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
/* the enc of the profile page */
/* the start of item page */
/* the main class */
.user{
    color: var(--maincolor);
    text-decoration: none;
}
.user:hover{
    text-decoration:underline;
}
.commentdate{
    position:absolute;
    right: 10px;
    top: 10px;
}
/* /////////////// */
.formreg{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.formreg label{
    font-size: 20px;
    font-weight: bold;
    color: #666;
}
.formreg input , .formreg select{
    position: relative;
}
.formreg input+span , .formreg select+span{
    color: red;
    position: absolute;
}
.formreg .save{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formreg .save input[type='submit']{
    font-size: 20px;
}
.formreg>div{
    display: flex;
    gap: 10px;
}
.formreg .row{
    margin-left: 0;
    margin-right: 0;
}
.formreg .stutes{
    margin-right: 0;
}
/* the start of the item data */
.show_item_data .item-data{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.show_item_data .the-data{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.show_item_data>h2{
    text-transform: capitalize;
    font-size: 25px;
}
.show_item_data .the-data i{
    margin-right: 10px;
}
.show_item_data .the-data>div{
    font-size: 20px;
    color:#3e94ce ;
    text-transform: capitalize;
}
.show_item_data .the-data>div a{
    font-size: 20px;
    color:black ;
    text-decoration: none;
}
.show_item_data .the-data>div span{
    color: black;
    font-size: 18px;
    text-transform: none;
}
.show_item_data .item-data .itemimg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.show_item_data .item-data  .itemimg>img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.item-comments{
    background-color: white;
    display: flex;
    flex-direction: column ;
    gap: 20px;
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 20px;
    overflow: hidden;
    padding: 20px;
}
.item-comments h3{
    text-transform: capitalize;
    font-size: 25px;
    text-align:center;
    color:#3e94ce ;
}
.item-comments .comment{
    color: white;
    background-color:#3e94ce;
    position:relative;
    padding: 10px;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:10px;
    border-top-left-radius:20px;
    border-top-right-radius:10px
}
.item-comments .comment::before{
    content:"";
    position: absolute;
    top: 10px;
    left: -21px;
    border: 12px solid #3e94ce;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.item-comments .comment .reply{
    position: absolute;
    right: 5%;
    bottom: 1%;
}
.nocomment-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 40px 0;
    border-radius: 10px ;
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -o-border-radius: 10px ;
}
.nocomment-item h4{
    text-align: center;
}
.nocomment-item img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.buttons-item{
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.addcomment-button{
    margin: 50px 0;
}
.addcomment-button input[type='submit']{
    background-color: #3e94ce;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 10px ;
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -o-border-radius: 10px ;
}
.replycomment{
    display: none;
}
.replycomment input[type='submit']{
    margin-top:20px;
}
.replies{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dontshow{
    display: none;
}
.replies .replytocomment{
    background-color: #3e94ce;
    max-width: 400px;
    margin-left: 30px;
    color: white;
    position:relative;
    padding:10px;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:10px;
    border-top-left-radius:20px;
    border-top-right-radius:10px
}
.replies .replytocomment::before{
    content:"";
    position: absolute;
    top: 10px;
    left: -21px;
    border: 12px solid #3e94ce;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.mention{
    color:blue;
    text-decoration: underline;
}
@media(max-width:768px){
    .show_item_data .item-data{
        flex-direction: column;
    }
}